body{
font-size: 25px;
    font-family:'Times New Roman', Times, serif ;
    margin: 0%;
    padding: 0%;

}
.Rectangulo1 {
position: absolute;
width: 1440px;
height: 188.19px;
background: #e6e6e6;

}

    
